<nav class="navbar navbar-light mb-5">
    <!-- Navbar content-->
    <h3>Image Uploader</h3>
    <div class="navbar-nav d-flex flex-row">
      <a class="nav-link p-3" aria-current="page" routerLink="login"
        >Login</a
      >
      <a class="nav-link p-3" routerLink="/signup">Sign Up</a>
    </div>
  </nav>
  <!-- component content -->
  <router-outlet></router-outlet>
  <!-- <footer content > -->
  <footer class="footer w-100">
    <div class="m-auto"><p class="m-0 text-center">&copy; imageuploader</p></div>
  </footer>
  