$primary:#e3f2fd;
// $breakpoint:768px;

// @include media-breakpoint-up($breakpoint) { 
//     footer{
//     position: sticky;
// }
//  }
nav,footer{
    background-color: $primary;
}
footer{
    position:sticky;
    bottom: 0;
    overflow: hidden;
  padding:20px 0px;
}
