<nav class="navbar navbar-light mb-5">
  <!-- Navbar content-->
  <h3>Image Uploader</h3>
  <div class="navbar-nav d-flex flex-row" *ngIf='!isLoggedIn()'>
    <a class="nav-link p-3" aria-current="page" routerLink="login"
      >Login</a
    >
    <a class="nav-link p-3" routerLink="/signup">Sign Up</a>
  </div>
  <input class="btn button-43 me-2" type="button" value="Logout" *ngIf="isLoggedIn()" (click)="logout()">

</nav>
<!-- component content -->
<router-outlet></router-outlet>
<!-- <footer content > -->
<footer class="footer w-100">
  <div class="m-auto"><p class="m-0 text-center">&copy; imageuploader</p></div>
</footer>
