<!--  login form  -->
<!-- validation login- invalid details-->
<div class="row m-auto mt-5 h-100">
  <div class="w-100 text-center mt-5">
    <h3>Login Form</h3>
    <div class="form m-auto">
      <form class="bottom-0" [formGroup]="signinForm" (ngSubmit)="loginUser()">
        <div class="input-group mb-3 mt-4">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Email</span
          >
          <input
            type="text"
            class="form-control"
            formControlName="email"
            (focus)='iffocus()'
            (blur)='iffocus()'
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
         
        </div>
        <div
        class="alert alert-danger mt-4"
        role="alert"
        *ngIf="
          (signinForm.controls['email'].touched &&
          signinForm.controls['email'].invalid)&&(valueclear) 
        "
      
        >
        Please provide valid email!
      </div>
        <div class="input-group mb-3 mt-2">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Password</span
          >
          <input
            type="password"
            class="form-control"
            formControlName="password"
            (focus)='iffocuspwd()'
          (blur)='iffocuspwd()'
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        <div
        class="alert alert-danger mt-4"
        role="alert"
        *ngIf="
          signinForm.controls['password'].touched &&
          signinForm.controls['password'].invalid && valueclearpwd
        "
      >
        Please provide valid password ! 
        
      </div>
        <button type="submit" class="btn btn-primary mb-5">Login</button>
        <div *ngIf="(valueclear || valueclearpwd) &&  islogin" class="alert alert-danger" role="alert">
          Invalid email id or password !
        </div>
      </form>
      <a class="text-center" routerLink="/signup">Create a new user account</a>
    </div>
  </div>
</div>
